{% include "adminHead.html" %}
<div class="">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card p-3 mt-3">
          <h4 class="text-center">Add Room Type</h4>
          <form action="addRoomType1">
            <div>
              <label class="form-label">Room Type</label>
              <input class="form-control" type="text" name="roomType" placeholder="Enter Room type" required>
            </div>
            <input type="submit" class="btn btn-warning w-100 mt-2" value="Add">
          </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<style>
	body{
		 background-image: url("https://cdn.shopify.com/s/files/1/0399/6742/4678/files/5-bedroom-design-ideas-to-transform-it-into-a-luxury-hotel-suite.jpg?v=1669103704");
	  	 background-repeat: no-repeat;
 		 background-attachment: fixed;
 		 background-size: cover;
	}
</style>