{% include "links.html" %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-link active">
          <a class="nav-link active" href="adminHome">Admin</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="addHotelStaff">Add Hotel Staff</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="viewStaff">View Hotel Staff</a>
      </li>
       <li class="nav-link active">
        <a class="nav-link active" href="addRoomType">Add Room Type</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="viewRoomTypes">View Room Type</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="addRoom">Add Room</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="viewRooms">View Rooms</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
