{% include "customerHead.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-secondary p-3 mt-3">
                <h5 class="text-center">Room Booking Summary</h5>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-muted" style="font-size:10px">Room Type</div>
                        <h6 style="font-size:15px">{{room_Type_name['roomType']}}</h6>
                        <div class="text-muted" style="font-size:10px">Check In</div>
                        <h6 style="font-size:15px">{{expected_check_in}}</h6>
                        <div class="text-muted" style="font-size:10px">No Of Days</div>
                        <h6 style="font-size:15px">{{days}}</h6>
                         <div class="text-muted" style="font-size:10px">Total Price</div>
                         <h6 style="font-size:15px">${{totalPrice}}</h6>
                        {% if str(extra_amount)!='0' %}
                            <div class="text-muted" style="font-size:10px">Extra Price</div>
                            <h6 style="font-size:15px">${{extra_amount}}</h6>
                        {% endif %}
                    </div>
                     <div class="col-md-6">
                         <div class="text-muted" style="font-size:10px">Room Name</div>
                         <h6>{{room['room_Name']}}</h6>
                         <div class="text-muted" style="font-size:10px">Check Out</div>
                         <h6 style="font-size:15px">{{expected_check_out}}</h6>
                         <div class="text-muted" style="font-size:10px">No Of Rooms</div>
                         <h6 style="font-size:15px">{{no_of_rooms}}</h6>
                         <div class="text-muted" style="font-size:10px">Advance Amount</div>
                         <h6 style="font-size:15px">${{advance_amount}}</h6>
                         <div class="text-muted" style="font-size:10px">Remaining Amount</div>
                         <h6 style="font-size:15px">${{remaining_amount}}</h6>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-secondary p-3 mt-3">
             <h5 class="text-center">Payment</h5>
                <form action="payment" method="get">
                    <input type="hidden" name="payment_for" value="advance payment">
                    <input type="hidden" name="booking_id" value={{booking_id}}>
                    <input type="hidden" name="totalPrice" value={{totalPrice}}>
                    <input type="hidden" name="advance_amount" value={{advance_amount}}>
                    <input type="hidden" name="remaining_amount" value={{remaining_amount}}>
                    {% if int(advance_amount)+int(extra_amount) >0 %}
                     <div>
                        <label class="mt-3">Card Type</label>
                        <select class="form-select" name="card_type">
                          <option value="">Choose Card</option>
                          <option value="credit card">Credit Card</option>
                           <option value="debit card">Debit Card</option>
                        </select>
                     </div>
                     <div>
                        <label class="mt-3">Name On Card</label>
                        <input class="form-control" type="text" name="name_on_card" placeholder="Enter Name On Card">
                     </div>
                     <div>
                        <label class="mt-3">Card Number</label>
                        <input class="form-control" type="number" name="card_number" placeholder="Enter Card Number" required>
                     </div>
                    <div>
                        <label class="mt-3">CVV</label>
                        <input class="form-control" type="number" name="card_number" placeholder="Enter Cvv" required>
                     </div>
                    <div>
                        <label class="mt-3">Expire</label>
                        <input class="form-control" type="number" name="card_number" placeholder="Enter Card Number" required>
                     </div>
                     <div>
                        <label class="mt-3">Enter Amount</label>
                        <input class="form-control" type="text" readonly name="total_amount" value="${{int(advance_amount)+int(extra_amount)}}">
                     </div>
                      <input type="submit" class="btn btn-primary w-100 mt-3" value="Pay">
                    {% else %}
                            <input type="submit" class="btn btn-primary w-100 mt-3" value="Confirm Booking">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<style>
	body{
		 background-image: url("https://images.pexels.com/photos/10149616/pexels-photo-10149616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	  	 background-repeat: no-repeat;
 		 background-attachment: fixed;
 		 background-size: cover;
	}
</style>