{% include "links.html" %}
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-link active">
        <a class="nav-link active" href="Home">Hotel Management System</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="adminLogin">Admin</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="staffLogin">Hotel Staff</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link active" href="customerLogin">Customer</a>
      </li>
    </ul>
  </div>
</nav>

